@import "app/library";

.container {
  width: 100%;
  // margin: 0 auto;
  // position: fixed;
}
.wrapper {
  max-width: var(--max-width);
  margin: 10px auto;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;
}
.logo {
  text-transform: uppercase;
}
.nav {
  display: flex;
  align-items: center;

  gap: 30px;
}

.nav_item {
  transition: all 0.2s linear;
  &:hover {
    color: $primary;
  }
}
