.container {
  font-weight: 700;
  width: 100%;
  position: fixed;
  z-index: 9999;
  background-color: var(--bg_primary);

  border-top: 2px #fff solid;

  box-shadow: 0px 3px 10px 0px rgba(255, 255, 255, 0.2);
}
.wrapper {
  max-width: var(--max-width);
  margin: 10px auto;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10px;

  position: relative;
}
.logo {
  text-transform: uppercase;
  display: flex;
  text-align: center;
  align-items: center;
}
.test {
  position: absolute;
  top: -3px;
}
.logo_content {
  padding-top: 7px;
  margin-left: 20px;
}
.logo_text {
  padding-left: 40px;
}
.phrase {
  font-size: 12px;
  font-weight: 600;

  text-transform: uppercase;

  position: absolute;
  top: 70%;
  left: 100px;
}

.nav_wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}
/* Nav */
.nav__list {
  display: flex;
  list-style: none;
  gap: 30px;
}
.nav__item {
  position: relative;
  transition: color 0.2s linear;

  &:hover {
    // color: var(--primary);
    > .subnav {
      display: block;
    }
  }
}
.nav__link {
  display: block;

  transition: color 0.2s linear;

  &:hover {
    color: var(--primary);
  }

  i {
    padding-left: 10px;
  }
}
/* Subnav */
.subnav {
  width: 18.5rem;
  display: none;

  border-radius: 0 0 5px 5px;
  padding: 0.5rem 0;

  position: absolute;
  top: 100%;
  left: 0;

  background-color: var(--bg_primary);
}
.subnav__link {
  display: block;
  padding: 0.45rem 1.2rem;
  cursor: pointer;

  transition: color 0.2s linear;

  &:hover {
    color: var(--primary);
  }
}
//Nav

.menu {
  display: none;
}

.menu_toggle {
  display: none;
}
.menu_toggle:checked ~ .nav {
  transform: scale(1, 1);
}

.close {
  display: none;
}
.menu_toggle:checked ~ .menu > .bar {
  display: none;
}
.menu_toggle:checked ~ .menu > .close {
  display: block;
}
.buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}
.wrap {
  display: flex;

  flex-direction: row-reverse;
  gap: 20px;
}

@media only screen and (max-width: 1023px) {
  .wrap {
    display: grid;
    place-items: end;
    gap: 10px;
  }
  .nav_wrapper {
    // flex-direction: row-reverse;
    align-items: end;
  }
  .nav {
    // display: none;
    flex-direction: column;
    padding: 10px 10px;
    padding-bottom: 30px;
    background-color: var(--bg_primary);

    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: fit-content;
    z-index: 1;

    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .nav__list {
    flex-direction: column;
  }
  .subnav {
    display: block;
    position: relative;
    padding: 0;
    padding-top: 10px;
    box-shadow: none;
  }
  .subnav__link {
    font-style: italic;
  }
  .menu {
    display: block;
    cursor: pointer;
  }
}
