.container {
  display: flex;
  gap: 16px;
  position: relative;

  &::after {
    content: "";
    width: 1px;
    height: 24px;

    position: absolute;
    left: 32px;

    background-color: var(--fg);
  }
}
