/* Our services */
.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
}
.container {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  display: flex;
  justify-content: center;
  // align-items: center;
  flex-wrap: wrap;

  margin: 0 auto;

  gap: 30px;
  padding: 50px 10px;
}
.head_title {
  font-size: 28px;
  padding: 0 10px;
}
.title {
  font-size: 22px;
}
.text {
  font-weight: 300;
}
.service_item {
  // width: fit-content;
  max-width: 370px;
  display: grid;
  gap: 20px;
}
.service_info {
  display: grid;
  gap: 20px;
}
.read_more {
  width: fit-content;
  font-size: 14px;
  color: var(--darken_primary);
  font-weight: 300;

  &:hover {
    color: var(--hover);
  }
}

@media (max-width: 950px) {
  .service_item {
    max-width: fit-content;
  }
}
