.form {
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;

  gap: 20px;
}
.input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px var(--primary) solid;

  padding: 15px;

  outline: 0;
  transition: border 0.2s linear;

  font-family: inherit;
  font-size: 14px;

  &:focus {
    border: 1px var(--darken_primary) solid;
  }
}
.textarea {
  width: 100%;
  height: 60px;
  min-height: 60px;
  border-radius: 5px;
  border: 1px var(--primary) solid;

  padding: 15px;

  outline: 0;
  transition: border 0.2s linear;

  font-family: inherit;
  font-size: 14px;

  resize: vertical;

  &:focus {
    border: 1px var(--darken_primary) solid;
  }
}
.button {
  color: #fff;
  background-color: var(--orange);
  padding: 15px 40px;

  font-weight: 800;
  border-radius: 7px;
  border: none;

  cursor: pointer;
  transition: all 0.2s linear;

  &:hover {
    background-color: var(--hover);
  }
}
.err_msg {
  color: #ff3333;
  line-height: 0;
}
.success_msg {
  color: #32cd32;
  line-height: 0;
}
