.footer {
  background-color: var(--bg_primary);

  width: 100vw;
  margin-left: calc(-50vw + 50%);
}
.content {
  max-width: var(--max-width);
  margin: 0 auto;

  padding: 20px 10px;

  gap: 20px;
}
.item {
  display: flex;
  gap: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
}
.nav_block {
  height: auto;
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 20px;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;

  border-top: 1px #000 solid;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  .bottom {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .rights {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 580px) {
  .nav_block {
    flex-direction: column;
    align-items: flex-start;
  }
  .top {
    align-items: center;
  }
}
