.container {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: var(--max-width);
  padding: 50px 10px;
  margin: 0 auto;
}
.info_wrapper {
  // display: grid;
  // place-items: center;
  // grid-template-columns: 1fr 1fr;
  // gap: 20px;

  display: flex;
  justify-content: center;
  // align-items: center;
  flex-wrap: wrap;

  margin: 0 auto;

  gap: 22px;
  // padding: 50px 10px;

  margin-bottom: 50px;
}
.title {
  font-size: 28px;
  margin-bottom: 20px;
}
.titleForm {
  font-size: 28px;
  margin-bottom: 50px;
  text-align: center;
}
.info {
  // width: 340px;
  display: grid;
  gap: 15px;

  line-height: 27px;
}
.info_title {
  font-weight: 700;
}
.info_desc {
  color: var(--darken_primary);
}

@media (max-width: 1024px) {
  .info_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: start;
  }
  .info {
    width: 100%;
    place-items: start;
    text-align: left;
  }
}

@media (max-width: 670px) {
  .info_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
