.desc {
  text-align: center;
  font-size: 20px;
  padding: 80px 0;
}
.wrapper {
  display: flex;
  //   gap: 400px;
  gap: 40%;
  justify-content: center;
  padding-bottom: 80px;
}
.logo {
  filter: invert(var(--invert));
}
.content_item {
  display: grid;
  place-items: center;
  gap: 30px;
  width: 300px;
}
