.container {
  width: 100vw;
  height: 400px;
  margin-left: calc(-50vw + 50%);

  background: url("../../../../assets/bg.jpg") no-repeat center;
  background-size: cover;
  filter: brightness(30%);
}
.wrapper {
  position: relative;
}
.title {
  position: absolute;
  bottom: 5vh;
  color: #fff;

  font-weight: 600;
  font-size: 28px;
}
